[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = {version = "~=24.8" }
pipenv-setup = { editable = true, path = "." }
pytest = {version = "~=7.1" }
pytest-mypy = {version = "~=0.8" }
pytest-cov = "~=3.0"
pytest-datadir = "~=1.3"
pytest-xdist = "~=2.0"
tox = "~=4.18"
pre-commit = {version = "~=3.8"}

[packages]
pipfile = "~=0.0"
colorama = "~=0.4"
packaging = "~=24.1"
requirementslib = "~=3.0.0"
typing = "~=3.7.4"

[scripts]
# use this to sync this pipfile to setup.py, explained in CONTRIBUTING.md
# `$ pipenv run sync-deps`
sync-deps = 'python -m pipenv_setup sync --dev --pipfile'

[requires]
python_version = "3.10"